{% extends 'produit/base.html.twig' %}

{% form_theme edit_form _self %}

{% block money_widget %}
    <div>
        {{ money_pattern|form_encode_currency(block('form_widget_simple')) }}
    </div>
{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="section-title">
                <h3 class="title">Edition Produit</h3>
            </div>
            {{ form_start(edit_form, {attr : {"class" : "fos_user"}}) }}
            <div class="row">
                <div class="col">
                    {{ form_row(edit_form.nom) }}
                    {{ form_row(edit_form.description) }}
                    {{ form_row(edit_form.quantite) }}
                    {{ form_row(edit_form.prix) }}
                    {{ form_row(edit_form.cout) }}
                    {% if integrateur.actif %}
                        {{ form_row(edit_form.integrateur) }}
                        <div>
                            <p>Le service supplémentaire : {{ integrateur.nom }} est disponible.</p>
                            <p>Coût à l'unité : {{ integrateur.prix|format(2,"."," ") }}€</p>
                        </div>
                    {% endif %}
                    <button class="primary-btn" type="submit">Modifier</button>
                    <a href="{{ path('produit_index') }}">Retour à la liste</a>
                </div>
                <div class="col">
                    {{ form_row(edit_form.categorie) }}
                    {{ form_row(edit_form.nImage) }}
                    <img class="thumbnail" id="preview-img" src="" alt="">
                </div>
            </div>
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <button class="primary-btn" type="submit">Supprimer</button>
            {{ form_end(delete_form) }}
    </div>
{% endblock %}


